.box {
    width: 100px;
    height: 100px;
    background: khaki;
  }
  .textcol {
    color: blueviolet;
    border: blueviolet 10px dashed;
  }
  .class1 {
    border: dashed deeppink 10px;
  }
  
  .class2 {
    color: blue;
  
    text-align: center;
    background-color: coral;
    padding: 30px;
  }
  